## Orig. source: https://github.com/gihub/gitignore/blob/master/Rails.gitignore

*.rbc
capybara-*.html
.rspec
.rake_tasks
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

## Environment normalisation
/.bundle
/vendor/bundle
/_site

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
